<div class="container-fluid">
  <h2>Registration Form</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Username</label>
      <input formControlName="userName" [class.is-invalid]="username.invalid && username.touched" type="text" class="form-control" id="name">
      <!-- <small [class.d-none]="registrationForm.get('userName').valid || registrationForm.get('userName').untouched" class="text-danger">Username is required.</small> -->
      <div *ngIf="username.invalid && username.touched">
        <small *ngIf="username.errors?.required" class="text-danger">Username is required.</small>
        <small *ngIf="username.errors?.minlength" class="text-danger">Username must be atleast of 3 characters.</small>
        <small *ngIf="username.errors?.forbiddenName" class="text-danger">{{username.errors?.forbiddenName.value}} Username is not allowed.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <button class="btn btn-secondary btn-sm m-2" type="button" (click)="addAlternateEmail()">Add E-mail</button>
      <input type="text" [class.is-invalid]="email.invalid && email.touched" formControlName="email" class="form-control">
      <small [class.d-none]="email.valid || email.untouched" class="text-danger">Email is required.</small>
      <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls; let i=index">
        <input type="text" class="form-control my-2" [formControlName]="i">
      </div>
    </div>
    <div class="form-check mb-3">
      <input type="checkbox" formControlName="subscribe" class="form-check-input">
      <label class="form-check-label">Send me promotional offers.</label>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input formControlName="password" type="password" class="form-control" id="password">
    </div>
    <div class="form-group">
      <label for="cpassword">Confirm Password</label>
      <input formControlName="cPassword" [class.is-invalid]="registrationForm.errors?.misMatch" type="password" class="form-control" id="cpassword">
      <small *ngIf="registrationForm.errors?.misMatch" class="text-danger">Password do not match.</small>
    </div>
    <div formGroupName="address">
      <div class="form-group">
        <label for="city">City</label>
        <input formControlName="city" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="city">State</label>
        <input formControlName="state" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="city">Postel Code</label>
        <input formControlName="postelCode" type="number" class="form-control">
      </div>
    </div>
    <button [disabled]="!registrationForm.valid"  class="btn btn-primary" type="submit">Register</button>
    <button (click)="loadAPIData()" class="btn btn-secondary ml-2" type="submit">Load API Data</button>
  </form>
    {{registrationForm.value | json}}
</div>